{% extends "layout.njk" %}

{% block content %}
  <div class="js-hello-world" data-name="{{ site.name }}"></div>
  <button class="js-alert">Click for alert!</button>
  <div class="js-lazy">Lazy</div>
{% endblock %}
